<%= raw activerecord_error_list(@evaluation.errors) %>

<%= form_for @evaluation do |f| %>
	<%= f.hidden_field :backlog_item_id %>
<div class = 'field'>
	<%= f.label :effective_date %><br />
	<%= datetime_select("evaluation","effective_date") %>
</div>

<% if @evaluation.evaluation_type == Evaluation::COST_EVALUATION %>
	<div class = 'field'>
		<%= f.label :value %><br />
		<%= f.number_field :value, :value => @value %>
	</div>
<% end %>

<div class = 'action'>
	<%= f.submit %>
</div>

<% end %>