<div>
<h1>EDIT PASSWORD MATE!</h1>

<%= raw activerecord_error_list(@current_user.errors) %>

<%= form_for @current_user, :url => account_change_password_path do |f| %>
	<div class = 'field'>
	<%= f.label :old_password %><br />
	<%= f.password_field :old_password %>
	</div>
	<div class = 'field'>
	<%= f.label :password, "New password" %><br />
	<%= f.password_field :password %>
	</div>
	<div class = 'field'>
	<%= f.label :password_confirmation, "New password confirmation" %><br />
	<%= f.password_field :password_confirmation %>
	</div>
	<div class = 'action'>
	<%= f.submit 'Change password!' %>
	</div>
	
<% end %>
</div>
