<div>
<h1>EDIT NAME MATE!</h1>

<%= raw activerecord_error_list(@current_user.errors) %>

<%= form_for @current_user, :url => account_change_name_path do |f| %>
	<div class = 'field'>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</div>
	<div class = 'action'>
	<%= f.submit 'Change name!' %>
	</div>
<% end %>
</div>
