<table>
<tr>
	<th>Title</th>
	<th>Description</th>
	<th>Created at</th>
	<th>Finished at</th>
	<th>Members</th>
	<th>Your role</th>
	<th />
	<th />
</tr>

<% @project_memberships.each do |pm| %>

<tr>
	<td><%= pm.project.title %></td>
	<td><%= pm.project.description %></td>
	<td><%=  pm.project.created_at.to_s(:short) %></td>
	<td><%= pm.project.finished_at!=nil ?  pm.project.finished_at.to_s(:short) : 'Unfinished' %></td>
	<td><%= pm.project.project_memberships.count %></td>
	<td><%= project_role_to_string(pm.role).capitalize %></td>
	<td><%= link_to 'Show', pm.project, :id => "project_#{pm.project.id}" %></td>
	<td><%= link_to 'Delete', project_path(pm.project),:method => :delete, :id => "delete_project_#{pm.project.id}", :confirm => "Are you sure you want to delete '#{pm.project.title}' project?" if pm.role == ProjectMembership::OWNER %></td>
</tr>

<% end %>

<tr>
<td><%= link_to 'Create new project', new_project_path() %></td>
</tr>
</table>
