<h1>Strona główna</h1>

<% if @current_user %>
<pre>
	<%= link_to "Stwórz nowy projekt!", new_project_path %>
	<%= link_to "Zobacz swoje projekty!", projects_path %>
	Jeżeli nie jesteś <%= @current_user.name %> to <%= link_to 'wyloguj się!', logout_path %>
</pre>
<% else %>
<pre>
	<%= link_to 'Zaloguj się!', login_path %>
	Nie masz jeszcze konta? 
	<%= link_to 'Zarejestruj się!', new_user_path %>
</pre>
<% end %>

