<h1>Strona główna</h1>

<% if @current_user %>
<pre>
	<%= link_to "Create new project!", new_project_path %>
	<%= link_to "Browse your projects!!", projects_path %>
	If you're not <%= @current_user.name %> to <%= link_to 'log out!', logout_path %>
</pre>
<% else %>
<pre>
	<%= link_to 'Log in!', login_path %>
	Dont have account yet? 
	<%= link_to 'Sign up!', new_user_path %>
</pre>
<% end %>

