<!DOCTYPE html>
<html>
<head>
  <title>Burndown</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<h1><%= flash[:notice] %></h1>
<% end %>

<% if flash[:error] %>
	<h1><%= flash[:error] %></h1>
<% end %>

<%= yield %>


<%= render "shared/debug_box" %>
<%= render "shared/login_box"%>

</body>
</html>
