<!DOCTYPE html>
<html>
<head>
  <title>Burndown</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>
	<%= display_standard_flashes %>
</h1>

<div style="position:absolute; top:0px; height:40px;">
	<%= link_to 'Home', root_url %>
	
	<% if @current_user %>
	<%= link_to 'Projects', projects_path %>
	<%= link_to 'Account', account_path %>	
	<%end%>
	<= link_to 'Help', help_url >

</div>
<div style="position:absolute; top:40px;">
	<%= yield %>
</div>

<%= render "shared/debug_box" %>
<%= render "shared/login_box"%>

</body>
</html>
